/** All styling to do with the NavBar **/

nav {
    margin-top: 10%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 0.2rem;
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    border-radius: 100px;
    border: 1px solid rdba(255, 255, 255, 0.5);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 750;
    position: relative;
    padding: 10px 0;
    transition: color 0.3s ease;

}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease;

}
a:hover::after {
    width: 100%;
    left: 0;
}

a:hover {
    color: #fff;
}

/** ^^^ Nav Bar Styling **/

body { 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    position: fixed;
    top: 13%;
    left: 40%;
    right: 50%;
    bottom: 10%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main_image {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 50%;
    right: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}