main {
    width: 80%;
}

body {
    background-color:seagreen;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    color: #167187;
}

footer {
    padding: 10px;
    border: 1px;
}

#main_image {
    width: 100%;
}